@keyframes pulse-err {
  0%,
  100% {
    box-shadow: 0 0 3px 1px #bfb7b7;
  }
  10%,
  90% {
    box-shadow: 0 0 3px 1px #bb1616;
  }
}
body {
  background: #e3e3e3;
  display: grid;
  grid-template: "header header" 2.5rem "source section" auto "footer footer" 1.2rem / 15rem auto;
}
@media (max-width: 450px) {
  body {
    grid-template: "header" 2.5rem "source" minmax(10rem, 60vh) "section" auto "footer" 1.2rem;
  }
}
body textarea {
  margin: 10px;
  box-shadow: 0 0 3px 1px #bfb7b7;
  border-radius: 2px;
  background: #f7f7f7;
  color: #2f2f2f;
  padding: 0.5rem;
  transition-property: color, background, box-shadow;
  transition-duration: 0.2s;
  transition-timing-function: ease-in;
  border: none;
  grid-area: source;
  resize: none;
  font-family: 'Courier New', Courier, monospace;
}
body textarea:focus {
  box-shadow: 0 0 3px 1px #918585;
  background: white;
  outline: none;
  color: black;
}
body section {
  grid-area: section;
}
body section #result {
  margin: 10px;
  box-shadow: 0 0 3px 1px #bfb7b7;
  border-radius: 2px;
  background: #f7f7f7;
  color: #2f2f2f;
  padding: 0.5rem;
  transition-property: color, background, box-shadow;
  transition-duration: 0.2s;
  transition-timing-function: ease-in;
}
body section #result:focus {
  box-shadow: 0 0 3px 1px #918585;
  background: white;
  outline: none;
  color: black;
}
body section #result.error {
  animation: pulse-err 3s infinite;
}
body section .registers {
  margin: 10px;
  box-shadow: 0 0 3px 1px #bfb7b7;
  border-radius: 2px;
  background: #f7f7f7;
  color: #2f2f2f;
  padding: 0.5rem;
  transition-property: color, background, box-shadow;
  transition-duration: 0.2s;
  transition-timing-function: ease-in;
  padding: 0;
}
body section .registers:focus {
  box-shadow: 0 0 3px 1px #918585;
  background: white;
  outline: none;
  color: black;
}
body section .registers div {
  padding: 0.5rem;
  border-bottom: 1px solid #e7e7e7;
}
body section .registers table {
  border-collapse: collapse;
}
body section .registers table .regs {
  background: #e7e7e7;
}
body section .registers table td {
  padding: 2px;
}
body section .registers table td:first-child {
  padding-left: 20px;
  padding-right: 5px;
  text-align: right;
}
body section .registers.hidden {
  display: none;
}
body,
html {
  height: 100%;
  padding: 0px;
  margin: 0px;
}
body header {
  background: #3030d8;
  color: white;
  grid-area: header;
  height: 2.5rem;
  line-height: 2.5rem;
}
body header * {
  padding-left: 25px;
  padding-right: 25px;
  height: 2.5rem;
}
body header img {
  padding: 0px;
  float: left;
}
body header button {
  float: right;
  background: red;
  border: none;
  color: black;
}
body footer {
  background: black;
  color: white;
  grid-area: footer;
  height: 1.2rem;
  line-height: 1.2rem;
}
body footer a {
  float: right;
  color: white !important;
  padding-left: 5px;
  padding-right: 5px;
}
